@import '../base';

.footer {
  max-width: 100vw;
  // height: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  // border: 1px solid blue;

  p {
    color: $gray;
  }

  &.dark {
    p {
      color: white;
    }
  }
}

@media only screen and (max-width: 767px) {
}
