@import '../base';

.hero {
  max-width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-content {
    height: auto;
    transform: translateY(-40px);
    width: 50vw;

    h1 {
      font-size: 96px;
      font-weight: 900;
      color: $darkgray;
      text-align: center;
    }

    p {
      // width: 50vw;
      font-size: $fontsize-largeText;
      line-height: 1.3;
      color: $gray;
      text-align: center;
    }
  }

  .hero-colorText {
    color: $royalblue;
    font-weight: 900;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    height: calc(100vh - 60px);

    .hero-content {
      width: 90vw;
      transform: translateY(-30px);

      h1 {
        font-size: 60px;
      }

      p {
        font-size: $fontsize-midText;
      }
    }
  }
}
