.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  animation: rotateBackwards 1s linear forwards;
}

.projects-list.rotate {
  animation: rotateForwards 1s linear forwards;
}

@keyframes rotateForwards {
  from {
    transform: rotate(-10deg);
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotateBackwards {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(-10deg);
    opacity: 0;
  }
}

.projects-list::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.projects-list > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* PROJECT ITEM */
.project {
  display: grid;
  grid-template-rows: 1fr 340px;
}

/* PROJECT IMAGE */
.project-img {
  grid-row: 1;
  padding: 15px;
}

.project-img a {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.project-img a:hover {
  overflow: hidden;
}

.project-img img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.project-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  vertical-align: middle;
}

/* DESCRIPTION TEXT */
.project-description {
  grid-row: 2;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr 200px;
  padding: 0 15px;
}

.title {
  grid-row: 1;
  padding: 6px 2px 5px 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: var(--fontsize-subtitle);
}

.tech {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3px;
  font-size: var(--fontsize-p);
  line-height: 1.5;
}

.link {
  grid-row: 3;
  padding: 5px 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.link a {
  padding: 0 10px;
  margin: 0 2px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: var(--fontsize-p);
}

.link a:hover {
  cursor: pointer;
}

.live {
  background-color: var(--lightblue);
  color: white;
  text-decoration: none;
}

.live:hover {
  background-color: var(--royalblue);
}

.github {
  background-color: black;
  color: white;
  text-decoration: none;
}

.github:hover {
  background-color: var(--yellow);
  color: black;
}

.description {
  grid-row: 4;
  padding: 25px 15px 6px 15px;
  line-height: 1.5;
  font-size: var(--fontsize-p);
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Tablets in landscape mode, older desktop monitors */
@media only screen and (min-height: 1365px) and (max-width: 1365px) {
  .project {
    grid-template-rows: 1fr 450px;
    height: auto;
  }

  .project-description {
    grid-template-rows: repeat(3, 1fr) 300px;
  }
}

@media only screen and (max-height: 1364px) and (max-width: 1365px) {
  .project-description {
    grid-template-rows: repeat(3, 1fr) 200px;
  }

  .tech {
    margin: 0 2px;
    font-size: 16px;
  }

  .link a {
    font-size: 16px;
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-height: 1023px) and (max-width: 1023px) {
  .project {
    grid-template-rows: 1fr 360px;
  }
}

@media only screen and (max-height: 1022px) and (max-width: 1023px) {
  .projects-list {
    animation: rotateBackwards 0.5s linear forwards;
  }

  .projects-list.rotate {
    animation: rotateForwards 0.5s linear forwards;
  }

  .project-description {
    grid-template-rows: repeat(3, 1fr) 250px;
  }

  .description {
    height: auto;
  }
}

@media only screen and (max-height: 766px) and (max-width: 767px) {
  .projects-list {
    animation: rotateBackwards 0.5s linear forwards;
  }

  .projects-list.rotate {
    animation: rotateForwards 0.5s linear forwards;
  }

  .project {
    grid-template-rows: 1fr 300px;
  }

  .project-description {
    grid-template-rows: repeat(3, 1fr) 200px;
  }

  .tech {
    font-size: var(--fontsize-p);
  }

  .link a {
    font-size: var(--fontsize-p);
  }
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {
  .projects-list {
    animation: none;
  }

  .projects-list.rotate {
    animation: none;
  }

  .project {
    grid-template-rows: 370px 1fr;
    width: 370px;
    margin: 0 auto;
  }

  .project-description {
    grid-template-rows: 40px auto 40px 1fr;
  }

  .tech {
    margin: 0 2px;
    font-size: var(--fontsize-p);
  }

  .link a {
    font-size: var(--fontsize-p);
  }
}
