/* * {
  outline: 1px solid red;
} */

.title {
  margin: 50px 0 20px 100px;
}

.projects-list {
  width: calc(100vw - 200px);
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* PROJECT ITEM */
.project {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  height: auto;
}

/* PROJECT IMAGE */
.project-img {
  grid-row: 1;
  padding: 0 60px;
}

.project-img a {
  /* border-radius: 10px; */
  height: 100%;
  width: 100%;
  display: inline-block;
}

.project-img a:hover {
  overflow: hidden;
}

.project-img img {
  /* border-radius: 10px; */
  height: 100%;
  width: 100%;
}

.project-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  vertical-align: middle;
}

/* DESCRIPTION TEXT */
.project-description {
  grid-row: 2;
  text-align: center;
  padding: 0 60px;
  /* padding: 25px; */
}

.project-title {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  font-size: var(--fontsize-p);
}

.subtitle {
  font-size: var(--fontsize-p);
  display: flex;
  justify-content: start;
  align-items: flex-end;
  padding-left: 25px;
}

.tech {
  color: var(--gray);
  font-size: var(--fontsize-p);
}

.link {
  padding: 5px 0;
  font-weight: 900;
  width: 100px;
  height: 40px;
}

.link a {
  padding: 0 10px;
  margin: 0 2px;
  height: 100%;
  border-radius: 5px;
  font-size: var(--fontsize-p);
}

.link a:hover {
  cursor: pointer;
}

.live {
  background-color: var(--gray);
  color: white;
  text-decoration: none;
}

.live:hover {
  background-color: var(--lightgray);
  border: var(--gray);
  color: var(--gray);
}

.github {
  background-color: black;
  color: white;
  text-decoration: none;
}

.github:hover {
  background-color: var(--lightgray);
  border: black;
  color: black;
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Tablets in landscape mode, older desktop monitors */
@media only screen and (min-height: 1365px) and (max-width: 1365px) {
  .project {
    margin-bottom: 90px;
  }

  .project-description {
    padding: 15px;
  }

  .description {
    padding: 15px 0px 35px 0px;
  }

  .subtitle,
  .tech,
  .link a {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
  }
}

@media only screen and (max-height: 1364px) and (max-width: 1365px) {
  .project {
    margin-bottom: 90px;
  }

  .project-description {
    padding-left: 15px;
  }

  .description {
    padding: 15px 0px 35px 0px;
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-height: 1023px) and (max-width: 1023px) {
  .projects-list {
    animation: none;
  }

  .projects-list.rotate {
    animation: none;
  }

  .project {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: auto;
    margin-bottom: 40px;
  }

  .project-img {
    grid-column: 1;
    grid-row: 1;
  }

  .project-description {
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: repeat(3, 1fr) auto;
  }

  .description {
    height: auto;
  }
}

@media only screen and (max-height: 1022px) and (max-width: 1023px) {
  .projects-list {
    animation: none;
  }

  .projects-list.rotate {
    animation: none;
  }

  .project {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: auto;
    margin-bottom: 40px;
  }

  .project-img {
    grid-column: 1;
    grid-row: 1;
  }

  .project-description {
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: repeat(3, 1fr) auto;
  }

  .description {
    height: auto;
  }
}

@media only screen and (max-height: 766px) and (max-width: 767px) {
  .projects-list {
    animation: none;
  }

  .projects-list.rotate {
    animation: none;
  }

  .project-description {
    grid-template-rows: 1fr auto 1fr auto;
    grid-template-columns: auto 1fr;
    padding: 10px 0;
  }

  .title {
    grid-column: 1;
    grid-row: 1;
  }

  .subtitle {
    grid-column: 2;
    grid-row: 1;
  }

  .tech {
    font-size: var(--fontsize-p);
    text-align: start;
  }

  .link a {
    font-size: var(--fontsize-p);
  }

  .description {
    font-size: 16px;
  }
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {
  .projects-list {
    animation: none;
  }

  .projects-list.rotate {
    animation: none;
  }

  .project {
    margin: 0 auto;
    height: auto;
    grid-template-rows: 1fr auto;
    margin-bottom: 30px;
  }

  .project-img {
    width: auto;
    height: auto;
    padding: 10px;
  }

  .project-img a {
    width: auto;
    height: auto;
  }

  .project-description {
    padding: 0 10px;
    grid-template-rows: 1fr auto 1fr auto;
  }

  .title {
    font-size: var(--fontsize-p);
  }

  .subtitle {
    font-size: 12px;
    padding-left: 3px;
  }

  .tech {
    text-align: start;
    font-size: 14px;
  }

  .link a {
    font-size: 16px;
  }

  .description {
    height: auto;
    font-size: 14px;
  }
}
