.h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
  background: linear-gradient(var(--royalblue), var(--lightblue));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/*  */
/* MEDIA QUERIES */
/*  */

@media only screen and (max-height: 1022px) and (max-width: 1023px) {
  .h2 {
    font-size: 35px;
  }
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {
  .h2 {
    font-size: 30px;
    padding-left: 10px;
  }
}
