:root {
  --navy: #193980;
  --lightblue: #27ccd8;
  --gray: #645c5c;
}

/* * {
  outline: 1px solid red;
} */

.skills {
  /* border: 1px solid red; */
}

.skills-list-container {
  background-color: var();
  padding: 30px;
  border-radius: 10px;
  /* margin: 2px; */
  border: 2px solid black;
  filter: drop-shadow(10px 10px 0 var(--yellow));
  /* z-index: -100; */
  /* box-shadow: inset 0px 0px 0px 2px black; */
}

.skills-list {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-auto-rows: 1fr;
}

.skills-list > * {
  /* background: rgba(0, 0, 0, 0.1); */
  /* border: 1px white solid; */
}

.skills-list::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.skills-list > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.skill {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill p {
  /* color: var(--gray); */
  /* color: black; */
  font-size: var(--fontsize-p);
  padding: 8px;
}

/* ICON */
.icon {
  width: 40%;
  height: 40%;
}

.icon:hover {
  transform: scale(1.1);
}

.html:hover {
  fill: #e34f26;
}

.css:hover {
  fill: #264de4;
}

.javascript:hover {
  fill: #f7df1e;
}

.react:hover {
  fill: #00d8ff;
}

.redux:hover {
  fill: #764abc;
}

.firebase:hover {
  fill: #ffcb2d;
}

.figma:hover {
  fill: #ff7263;
}
