.skills-list-container {
  background-color: var(--lightgray);
  padding: 30px;
  border-radius: 10px;
  border: 2px solid var(--gray);
  filter: drop-shadow(10px 10px 0 var(--lightblue));
  animation: rotateBackwards 1s linear forwards;
}

.skills-list-container.rotate {
  animation: rotateForwards 1s linear forwards;
}

@keyframes rotateForwards {
  from {
    transform: rotate(-10deg);
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotateBackwards {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(-10deg);
    opacity: 0;
  }
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-auto-rows: 1fr;
}

.skills-list > * {
  filter: unset;
}

.skills-list::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.skills-list > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill p {
  font-size: var(--fontsize-p);
  padding: 8px;
  text-align: center;
}

/* ICON */
.icon {
  width: 40%;
  height: 40%;
}

.icon:hover {
  transform: scale(1.1);
}

.html:hover {
  fill: #e34f26;
}

.css:hover {
  fill: #264de4;
}

.tailwindcss:hover {
  fill: #06b6d4;
}

.javascript:hover {
  fill: #f7df1e;
}

.react:hover {
  fill: #00d8ff;
}

.redux:hover {
  fill: #764abc;
}

.firebase:hover {
  fill: #ffcb2d;
}

.figma:hover {
  fill: #ff7263;
}

.npm:hover {
  fill: #cb3837;
}

/*  */
/* MEDIA QUERIES */
/*  */

@media only screen and (max-width: 1023px) {
  .skills-list-container {
    animation: none;
  }

  .skills-list-container.rotate {
    animation: none;
  }
}

/* Smartphones in landscape mode */
@media only screen and (min-height: 767px) and (max-width: 767px) {
  .skills-list-container {
    border: none;
    filter: none;
  }

  .skills-list-container {
    animation: none;
  }

  .skills-list-container.rotate {
    animation: none;
  }

  .skills-list {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

@media only screen and (max-height: 766px) and (max-width: 767px) {
  .skills-list-container {
    animation: none;
  }

  .skills-list-container.rotate {
    animation: none;
  }

  .skills-list {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {
  .skills-list-container {
    padding: 0px 10px;
    animation: none;
    border: none;
    filter: none;
  }

  .skills-list-container.rotate {
    animation: none;
  }

  .skills-list {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }

  .skill p {
    font-size: 14px;
  }
}
