/* :root {
  --navy: #193980;
  --lightblue: #27ccd8;
  --gray: #645c5c;
} */

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* border: 1px solid red; */
  padding-top: 200px;
  height: auto;
}

.text-content {
  grid-column: 1;
  display: grid;
  /* grid-template-rows: minmax(1fr, 100px) 1fr; */
  grid-template-rows: 1fr 1.5fr;
}

.title {
  /* grid-column: 1; */
  grid-row: 1;
  font-size: 100px;
  font-weight: 800;
  /* background: linear-gradient(var(--navy), var(--lightblue)); */
  background: linear-gradient(var(--royalblue), var(--lightblue));
  /* background: linear-gradient(var(--blue), var(--lightblue)); */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: flex-start;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
}

.text {
  /* grid-column: 1; */
  grid-row: 2;
  font-size: var(--fontsize-subtitle);
  /* color: var(--gray); */
  padding-right: 15px;
  /* border: 1px solid blue; */
}

.text p {
  margin-bottom: 12px;
}

br {
  line-height: 20%;
  /* border: 1px solid green; */
}

.profile-pic {
  grid-column: 2;
  grid-row: span 2;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  width: 300px;
  /* filter: drop-shadow(20px 20px 0 var(--yellow)); */
  filter: drop-shadow(20px 20px 0 var(--lightblue));
  z-index: 50;
  /* filter: drop-shadow(20px 20px 0 var(--pink)); */
  /* border: 1px solid blue; */
}

/*  */
/* MEDIA QUERIES */
/*  */
@media (max-width: 1224px) {
  .title {
    font-size: 85px;
  }

  .text {
    font-size: 20px;
  }

  .profile-pic img {
    width: 230px;
  }
}

/* @media (max-width: 1024px) {
  .title {
    font-size: 65px;
  }

  .text {
    font-size: 15px;
  }

  .profile-pic img {
    width: 150px;
  }
} */

/* @media (max-width: 768px) */

@media (max-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr auto 2fr;
    margin-top: 30px;
  }

  .title {
    grid-column: 1;
    grid-row: 1;
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
  }

  .text {
    grid-column: 1;
    grid-row: 3;
    font-size: 18px;
  }

  .profile-pic {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 25px;
  }

  .profile-pic img {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 50px;
  }

  .text {
    font-size: 15px;
  }

  .profile-pic img {
    width: 230px;
  }
}
