/* :root {
  --navy: #193980;
  --lightblue: #27ccd8;
  --gray: #645c5c;
} */

/* * {
  outline: 1px solid red;
} */

.contact {
  /* margin-bottom: 100px; */
  /* height: 1000px; */
}

.contact p {
  font-size: var(--fontsize-p);
  text-align: center;
}

.contact-list {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  /* padding: 0 100px; */
  opacity: 0;
  /* margin-bottom: 100px; */
}

.contact-list.fadein {
  /* border: 1px solid red; */
  animation: fadein 1s linear forwards;
}

@keyframes fadein {
  from {
    transform: translateY(20%);
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.info {
  /* padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* text-decoration: none; */
}

.link {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icon {
  grid-row: 1;
  width: 60%;
  height: 60%;
  /* margin: 5px; */
  /* margin: 0 auto; */
}

.icon:hover {
  cursor: pointer;
}

.github:hover {
  fill: #6e5494;
}

.linkedin:hover {
  fill: #0077b5;
}

.twitter:hover {
  fill: #1da1f2;
}

.blog:hover {
  fill: #2962ff;
}

.name {
  grid-row: 2;
  font-size: var(--fontsize-p);
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Tablets in landscape mode, older desktop monitors */
@media only screen and (min-height: 1365px) and (max-width: 1365px) {
  /* .contact {
    background-color: lightskyblue;
  } */
}

@media only screen and (max-height: 1364px) and (max-width: 1365px) {
  /* .contact {
    background-color: slateblue;
  } */
}

/* Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-height: 1023px) and (max-width: 1023px) {
  /* .contact {
    background-color: lightpink;
  } */

  .contact-list {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

@media only screen and (max-height: 1022px) and (max-width: 1023px) {
  /* .contact {
    background-color: fuchsia;
  } */
}

/* Smartphones in landscape mode */
@media only screen and (min-height: 767px) and (max-width: 767px) {
  /* .contact {
    background-color: yellowgreen;
  } */
}

@media only screen and (max-height: 766px) and (max-width: 767px) {
  /* .contact {
    background-color: lightyellow;
  } */

  .contact-list {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    /* opacity: 1;
    transform: translateY(0%); */
  }

  /* .contact-list.fadein {
    /* border: 1px solid red; */
  /* animation: fadein 0.5s linear forwards; 
    animation: none;
  } */
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {
  /* .contact {
    background-color: lightseagreen;
  } */

  .contact-list {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .contact-list.fadein {
    /* border: 1px solid red; */
    animation: fadein 0.5s linear forwards;
  }

  /* .contact-list.fadein {
    /* border: 1px solid red; */
  /* animation: fadein 0.5s linear forwards; 
    animation: none;
  }

  .contact-list {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
     padding: 0 100px; 
    /* opacity: 0; 
    /* transform: rotate(0deg); 
    opacity: 1;
    transform: translateY(0%);
    /* margin-bottom: 100px; 
  } */
}
