.nav {
  padding: 10px 100px;
  height: 80px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--lightgray);
}

.icon:hover {
  cursor: pointer;
}

.icon img {
  height: 100%;
  padding: 5% 0;
}

.linkItem {
  display: inline;
  float: left;
}

.linkItem:hover {
  cursor: pointer;
}

.link {
  display: block;
  font-size: var(--fontsize-text);
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--gray);
}

.link.active,
.link:hover {
  color: var(--royalblue);
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Tablets in landscape mode, older desktop monitors */
@media only screen and (max-width: 1365px) {
  /* .nav {
    padding: 0 100px;
  } */
}
