/* :root {
  --navy: #193980;
  --lightblue: #27ccd8;
  --gray: #645c5c;
} */

nav {
  /* border: 1px solid red; */
  padding: 0 250px;
  /* z-index: 100; */
  height: 50px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  /* position: sticky; */
  /* top: 0; */
  background-color: var(--lightgray);
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

li {
  display: inline;
  float: left;
  /* justify-self: right; */
  /* display: none; */
}

.link {
  display: block;
  /* color: var(--gray); */
  font-size: var(--fontsize-p);
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
}

.link.active {
  border-bottom: 5px solid var(--yellow);
  position: relative;

  /* box-shadow: inset 0px 5px 0px 2px var(--yellow); */
}

/* .link.active:before {
  position: absolute;
  top: 46px;
  bottom: 2px;
  border: 2px solid var(--yellow);
} */

.link:hover {
  /* background-color: var(--yellow); */
  border-bottom: 5px solid var(--lightblue);
  /* color: var(--gray); */
}

/* .hamburger-menu {
  margin: auto 0;
}

.hamburger {
  width: 25px;
  height: 3px;
  margin: 6px 0;
  background-color: var(--gray);
  display: none;
} */

/* MEDIA QUERIES */
@media (max-width: 1224px) {
  nav {
    padding: 0 150px;
  }
}

@media (max-width: 1024px) {
  li {
    display: none;
  }

  .hamburger {
    display: block;
  }

  nav {
    padding: 0 120px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
}
