:root {
  --navy: #193980;
  --blue: #5693d2;
  --royalblue: #264de4;
  --lightblue: #27ccd8;
  --gray: #645c5c;
  --yellow: #f9d249;
  --pink: #d614f0;
  --fontsize-p: 18px;
  --fontsize-subtitle: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--gray);
  /* outline: 1px solid red; */
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}
