:root {
  --navy: #193980;
  --blue: #5693d2;
  --royalblue: #264de4;
  --lightblue: #27ccd8;
  --gray: #918d8d;
  --lightgray: #fafafa;
  --yellow: #f9d249;
  --pink: #d614f0;
  --fontsize-p: 18px;
  --fontsize-subtitle: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* color: var(--gray); */
  color: var(--gray);
  /* outline: 1px solid red; */
}

html {
  background-color: var(--lightgray);
  overflow-x: hidden;
  /* width: 100vw;
  height: 100vh; */
}

/* header {
  position: sticky;
  top: 0;
  background-color: white;
} */

/* .to-top-icon {
  color: black;
  position: fixed;
  top: 750px;
  left: 1300px;
  /* visibility: hidden; 
} */

/* .to-top-icon.visible {
  visibility: visible;
} */

/* TO TOP ICON */
.to-top-icon {
  /* color: black; */
  /* position: fixed;
  top: 750px;
  left: 1300px; */
  /* opacity: 0; */
  /* visibility: hidden; */
  z-index: 200;
  animation: fadeout 1s linear 0s forwards;
}

.to-top-icon:hover {
  cursor: pointer;
  background-color: var(--yellow);
  fill: var(--gray);
}

.to-top-icon.showIcon {
  animation: fadein 1s linear 0s forwards;
}

@keyframes fadein {
  from {
    transform: translateY(50%);
    opacity: 0.1;
    visibility: hidden;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    padding: 3px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    position: fixed;
    /* top: 750px; */
    bottom: 50px;
    /* left: 1300px; */
    right: calc(250px / 2);
  }
}

@keyframes fadeout {
  from {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    padding: 3px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    position: fixed;
    /* top: 750px; */
    bottom: 50px;
    /* left: 1300px; */
    right: calc(250px / 2);
  }

  to {
    transform: translateY(50%);
    opacity: 0.1;
    visibility: hidden;
  }
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Tablets in landscape mode, older desktop monitors */
@media only screen and (min-height: 1365px) and (max-width: 1365px) {
  /* .skills {
    background-color: lightskyblue;
  } */

  @keyframes fadein {
    from {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 30px;
      /* left: 1300px; */
      right: 20px;
    }
  }

  @keyframes fadeout {
    from {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 30px;
      /* left: 1300px; */
      right: 20px;
    }
  }
}

@media only screen and (max-height: 1364px) and (max-width: 1365px) {
  /* .skills {
    background-color: slateblue;
  } */

  @keyframes fadein {
    from {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 50px;
      /* left: 1300px; */
      right: calc(100px / 2);
    }
  }

  @keyframes fadeout {
    from {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 50px;
      /* left: 1300px; */
      right: calc(100px / 2);
    }

    to {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }
  }
}

/* Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-height: 1023px) and (max-width: 1023px) {
  /* .skills {
    background-color: lightpink;
  } */

  @keyframes fadein {
    from {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 30px;
      /* left: 1300px; */
      right: 60px;
    }
  }

  @keyframes fadeout {
    from {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 30px;
      /* left: 1300px; */
      right: 60px;
    }

    to {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }
  }
}

@media only screen and (max-height: 1022px) and (max-width: 1023px) {
  /* .skills {
    background-color: fuchsia;
  } */

  .to-top-icon {
    background-color: var(--lightgray);
  }
}

/* Smartphones in landscape mode */
@media only screen and (min-height: 767px) and (max-width: 767px) {
  /* .skills {
    background-color: yellowgreen;
  } */

  @keyframes fadein {
    from {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 30px;
      /* left: 1300px; */
      right: 30px;
    }
  }

  @keyframes fadeout {
    from {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 30px;
      /* left: 1300px; */
      right: 30px;
    }

    to {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }
  }
}

@media only screen and (max-height: 766px) and (max-width: 767px) {
  /* .skills {
    background-color: lightyellow;
  } */

  @keyframes fadein {
    from {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 50px;
      /* left: 1300px; */
      right: 30px;
    }
  }

  @keyframes fadeout {
    from {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 50px;
      /* left: 1300px; */
      right: 30px;
    }

    to {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }
  }
}

/* Smartphones in portrait mode */
@media only screen and (max-width: 420px) {
  /* .skills {
    background-color: lightseagreen;
  } */

  @keyframes fadein {
    from {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 20px;
      /* left: 1300px; */
      right: 20px;
    }
  }

  @keyframes fadeout {
    from {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
      padding: 3px;
      border: 2px solid var(--gray);
      border-radius: 50%;
      position: fixed;
      /* top: 750px; */
      bottom: 20px;
      /* left: 1300px; */
      right: 20px;
    }

    to {
      transform: translateY(50%);
      opacity: 0.1;
      visibility: hidden;
    }
  }
}
